# General
.DS_Store
*.swp
*.tmp

# C++ build files
*.o
*.out
*.exe

# Arduino files
*.elf
*.hex
*.bin

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls

# Build directory
docs/report/build/
